body {
    font-family: 'Roboto', sans-serif;
    background-color: #374e3b; /* Dark pastel green */
    color: #f0f0f0; /* Light color for body text to improve readability */
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #d9ead3; /* Light pastel green for the heading */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #f0f0f0; /* Light color for subheadings */
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

.title-container {
    margin-bottom: 10px;
    text-align: left;
}

.visualization {
    margin-bottom: 40px;
    background: #a8c3a3; /* Lighter pastel green */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
    color: #374e3b; /* Dark pastel green for description text */
    font-size: 16px;
    margin-top: 10px;
}

.two-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.chart {
    flex: 1;
}

.description-right {
    flex: 1;
    margin-left: 20px;
    color: #374e3b; /* Dark pastel green for description text */
}

.footer {
    background-color: #3e563d; /* Darker green for footer */
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    color: #f0f0f0; /* Light color for text in the footer */
}

@media (max-width: 768px) {
    .two-column {
        flex-direction: column;
    }

    .description-right {
        margin-left: 0;
        margin-top: 20px;
    }
}

